* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  h1 {
    text-align: center;
    margin-top: 30px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  #entrada {
    text-align: center;
    margin: 50px auto;
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #saida {
    text-align: center;
    margin: 20px auto;
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
  }
  
  